@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
	--red: #f22c1f;
	--white: #ffffff;
	--grey: #b7b7b7;
}
body{
	margin: 0;
	padding: 0;
}

div.rec{
	background: var(--red);
}
div.rec-left{
	width: 3px;
	height: 90%;
	float: left;
	margin-left: 13px;
}
div.rec-bottom{
	width: 100%;
	height: 2px;
	margin: 0 auto;
	display: none;
}
div.box{
	width: 50%;
	text-align: left;
	padding-top: 18px;
}
div.msg-box span, div.upload-box span{
	width: 87px;
	height: 12px;

	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 12px;
	color: var(--white);
}
div.box-inner{
	position: relative;
	left: 13px;
	width: 95%;
	height: 89%;
}


div.main{
	padding: 30px 0 50px 0;
	background-image: url(../img/bgd.png);
	background-size: cover;
	/*background-attachment: fixed;*/
	width: 100%;
	color: var(--white);
	text-align: center;
}
div#logo{
	width: 100%;
	text-align: center;
}


/*Header*/
div.header{
	height: 150px;
	margin: 20px auto;
	background: rgba(255, 255, 255, 0.06);
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0px 0px;
}
div.header span{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: var(--white);
}
div.header p{
	width: 100%;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;
	color: var(--grey);

	margin-top: 20px;
}

/*Message box*/
div.msg-box{
	height: 200px;
	margin: 23px auto;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0px 0px;
	border-bottom: 3px solid var(--red);
}
div.msg-box textarea{
	margin-top: 15px;
	resize: none;
	width: 100%;
	height: 75%;
	color: var(--white);
	background: rgba(255, 255, 255, 0.00);
	font-size: 15px;
	overflow: auto;
	border: 0.7px solid #777777;
	border-radius: 3px;
}
div.msg-box textarea:focus{
	outline: none;
}

/*Upload box*/
div.upload-box{
	height: 170px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0px 0px;
	border-bottom: 3px solid var(--red);
}
div.upload-box p{
	width: 300px;
	height: 24px;
	margin-top: 23px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;
	color: var(--grey);
}
div.upload-box .upload-con{
	width: 76px;
	height: 23px;
	margin-top: 40px;
	padding: 5px 10px 5px 10px;

	font-family: Inter;
	border: 0.7px solid #777777;
	border-radius: 3px;
	color: red;
}
div.upload-box label img{
	width: 13px;
	height: 13px;
}
div.upload-box input{
	color: var(--red);
	visibility: hidden;
}

/*Submit button*/
button#submit-btn{
	color: var(--white);
	background-color: var(--red);
	border: none;
	border-radius: 10px;
	width: 50%;
	height: 40px;
	margin-top: 23px;
	font-family: Inter;
	font-style: normal;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
}

@media only screen and (max-width:924px){
	div.box{
		width: 70%;
	}
}
@media only screen and (max-width:700px){
	div.box{
		width: 90%;
	}
}
@media only screen and (max-width:550px){
	div.header{
		height: 180px;
	}
	div.msg-box textarea{
		width: 95%;
	}
	div.header p{
		width: 90%;
	}
}